@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#root {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to right bottom, #002152, #06001a, #000549)
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.animation-test {
  position: relative;
  overflow: hidden;
  transition: .5s;
}

.animation-test span {
  position: absolute;
  display: block;
}

.animation-test span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: anim1 1s linear infinite;
}

@keyframes anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.animation-test span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.animation-test span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.animation-test span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}